.user-area {
    margin-bottom: 20px;
    text-align: center;
}

.user-image {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    object-fit: cover;
    padding: 3px;
    border: 1px solid #5a5a5a;
}

.user-name {
    margin-bottom: 5px;
}

.repos {
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.repos-area {
    width: 100%;
}

.card-repo {
    width: 600px;
    height: 175px;
    min-width: 260px;
    padding: 12px;
    box-shadow: -5px 5px 15px -5px #7e32b1;
    border-radius: 10px;
    background-color: #282a36;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.card-repo:hover {
    background-color: #363844;
    transform: scale(1.02);
}

.private-repo {
    background-color: #1c1e27;
    padding: 7px 10px 7px;
    font-size: 1rem;
    border-radius: 10px;
}

.description-repo {
    font-size: 1rem;
}

.title-area-repo {
    display: flex;
    justify-content: space-between;
}

.title-area-repo h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60vw;
}

.custom-area {
    padding: 20px 0;
    font-size: 1rem;
    font-weight: normal;
}

.custom-area.h2-custom {
    font-size: 1.5rem;
}

.github-gif-area {
    display: none;
    margin-top: 50px;
    text-align: center;
}

.github-gif-area img {
    width: 120px;
}

.github-gif-area p {
    margin: 10px 0;
    font-weight: bold;
}

.description-area-repo {
    padding: 10px 0;
    min-height: 100px;
    max-height: 100px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    color: #8d8d8d;
}

.others-area-repo {
    display: flex;
    gap: 20px;
}

.title-repositories {
    padding: 20px 0;
    text-align: center;
}